*.pyc
*.pyo
*.swp
*.un~
*.db
*.dump
static_root/
settings/local.py
.codeintel
*.sublime*
.coverage
_coverage/*
.noseids
celerybeat-schedule
.idea
var
parts
eggs
bin
develop-eggs
*.egg-info
.installed.cfg
.mr.developer.cfg
src/scrumbugz/settings/local.py
